.home {

  .content-header {
    border-bottom: 2px dashed @navigation-border;
    @media @small-screen {
      width: 95%;
      flex-direction: column;
      margin: 0 auto;
    }

    h2 {
      margin-top: 15px;
    }

    p {
      margin-bottom: 10px;
    }
  }

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media @small-screen {
      width: 95%;
      flex-direction: column;
      margin: 0 auto;
    }
    
    .text-content {
      width: 48%;
      padding-right: 1%;
      @media @small-screen {
        width: 100%;
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;
      @media @small-screen {
        width: 100%;
      }

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;
    @media @small-screen {
      flex-direction: column-reverse;
    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;
    @media @small-screen {
      flex-direction: column;
      width: 95%;
      margin: 0 auto;
    }

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;
    @media @small-screen {
      width: 80%;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;
      @media @small-screen {
        width: 100%;
      }
    }

    .btn {
      .button(@eastern-blue, @white);
      @media @small-screen {
        width: 100%;
      }
    }
  }
}// home